In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/grbruns/cst383/master/iris.csv")

In [3]:
df.iloc[:,:4].corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [4]:
df[df['species'] == 'setosa'].size / df.size

0.3333333333333333

In [5]:
# Number of those with a sepal len of less than 5
print(df[df['sepal_length'] < 5].size)

# number of those that are setosa and of sepal lenth less than 5
print(df[(df['sepal_length'] < 5)&(df['species'] == 'setosa')].size)


print(100/110)

110
100
0.9090909090909091

In [6]:
# number species setosa
num_setosa = df[df['species'] == 'setosa'].size
print(num_setosa)
# number of sepal len less than 5
num_sepal_less5 = df[(df['sepal_length'] < 5)&(df['species'] == 'setosa')].size
print(num_sepal_less5)
print(num_sepal_less5/num_setosa)

250
100
0.4

In [30]:
sepal_len_great6 = df['sepal_length'] > 6
sepal_width_less2dot6 = df['sepal_width'] < 2.6
species_versicolor = df['species'] == 'versicolor'
(sepal_len_great6 & sepal_width_less2dot6 & species_versicolor).sum() / species_versicolor.sum()

# np.sum(sepal_len_great6[sepal_width_less2dot6]) / np.sum(species_versicolor)
# pd.crosstab(sepal_len_great6[sepal_width_less2dot6], species_versicolor)

0.06

In [25]:
pd.crosstab(species_versicolor, [sepal_len_great6, sepal_width_less2dot6])

sepal_length False       True
sepal_width  False True  False True
species
False           55     4    39     2
True            20    10    17     3