## Pandas Dataframes

In [2]:
import pandas as pd

In [3]:
hw = pd.DataFrame({'hw1': [89,74,68,94],
                   'hw2':[92,90,78,97]},
                    index=['001', '002', '003', '004'])
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

In [4]:
hw.values

array([[89, 92],
       [74, 90],
       [68, 78],
       [94, 97]], dtype=int64)

In [5]:
hw.index

Index(['001', '002', '003', '004'], dtype='object')

In [6]:
hw.columns

Index(['hw1', 'hw2'], dtype='object')

## Creating DataFrames

In [7]:
hw = pd.DataFrame({'hw1': [89,74,68,94],
                   'hw2':[92,90,78,97]})
print(hw)

   hw1  hw2
0   89   92
1   74   90
2   68   78
3   94   97

Add a new column

In [8]:
hw['hw3'] = [86,77,80,86]
print(hw)

   hw1  hw2  hw3
0   89   92   86
1   74   90   77
2   68   78   80
3   94   97   86

In [9]:
hw['hw3'] = pd.Series([86,77,80,86], index=hw.index) # use this to force the index incase the indices of the new col don't match the current index.

## Dataframe indexing with .iloc
For either index we can use:
- an int (implicit index value)
- a list of array of ints
- a slice with ints
- a bool mask

In [10]:
hw = pd.DataFrame({'hw1': [89,74,68,94],
                   'hw2':[92,90,78,97]},
                    index=['001', '002', '003', '004'])
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

In [11]:
hw.iloc[0,1] # returns row 0 col 1

92

In [12]:
hw.iloc[1:2,1] # returns rows 1-2(exclusive) of col 1

002    90
Name: hw2, dtype: int64

In [13]:
hw.iloc[:,::-1] # returns all rows with cols reversed

     hw2  hw1
001   92   89
002   90   74
003   78   68
004   97   94

In [14]:
hw.iloc[[0,2], :] # using fancy indexing returns rows 0 and row 2 with all cols

     hw1  hw2
001   89   92
003   68   78

## Microquiz
2 ways to show the middle two rows of hw

In [15]:
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

In [16]:
hw.iloc[[1,2],:]

     hw1  hw2
002   74   90
003   68   78

In [17]:
hw.iloc[1:3,:]

     hw1  hw2
002   74   90
003   68   78

In [18]:
hw.iloc[1:3]

     hw1  hw2
002   74   90
003   68   78

## Dataframe indexing with .loc

In [19]:
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

In [20]:
hw.loc['001', 'hw2'] # using labels

92

In [21]:
hw.loc['001',:] # all cols for label 001

hw1    89
hw2    92
Name: 001, dtype: int64

In [22]:
hw.loc['001':'002', 'hw1'] # starts at label 001 and ends at label 002 (inclusive) with col hw1

001    89
002    74
Name: hw1, dtype: int64

## Microquiz
Select middle rows with loc

In [23]:
print(hw)
print("Short slicing:\n",hw.loc['002':'003'])
print("Slicing:\n", hw.loc['002':'003', :])
print("Fancy indexing:\n", hw.loc[['002','003'],:])

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97
Short slicing:
      hw1  hw2
002   74   90
003   68   78
Slicing:
      hw1  hw2
002   74   90
003   68   78
Fancy indexing:
      hw1  hw2
002   74   90
003   68   78

## Dataframe Indexing Dictionary Style

In [24]:
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

Dictionary-style indexing is normally column-based

In [25]:
hw['hw1']

001    89
002    74
003    68
004    94
Name: hw1, dtype: int64

In [26]:
hw[['hw1','hw2']]

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

Slice or bool mask is ROW based

In [27]:
hw['002':]

     hw1  hw2
002   74   90
003   68   78
004   94   97

In [28]:
hw[0:2]

     hw1  hw2
001   89   92
002   74   90

In [29]:
hw[hw['hw1'] > 90] # Returns all rows where values in hw1 are > 90

     hw1  hw2
004   94   97

`hw[0] # error use iloc`

`hw['002'] # error use loc`

## uFuncs on dataframes

In [30]:
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

In [31]:
hw1_ec = pd.Series({'002':10, '004':5})
hw_ec = pd.DataFrame({'hw1': hw1_ec})
print(hw_ec)

     hw1
002   10
004    5

In [32]:
hw.add(hw_ec)

      hw1  hw2
001   NaN  NaN
002  84.0  NaN
003   NaN  NaN
004  99.0  NaN

In [33]:
hw.add(hw_ec, fill_value=0) # using a fill value to eliminate the NaN

      hw1   hw2
001  89.0  92.0
002  84.0  90.0
003  68.0  78.0
004  99.0  97.0

## Stacking two dataframes
Default concat is verticle

In [34]:
hwa  = pd.DataFrame({'hw1':[75,82], 'hw2':[92,81]}) # add axis=1 for horizontal concat
pd.concat([hw,hwa]) # ignore_index = True to generate new indexes

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97
0     75   92
1     82   81

In [35]:
pd.concat([hw,hwa], ignore_index=True) # ignore_index = True to generate new indexes

   hw1  hw2
0   89   92
1   74   90
2   68   78
3   94   97
4   75   92
5   82   81

## Advance database-style joins

In [36]:
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

In [37]:
snames = pd.Series(['Pat','Ana'], index=['001','002'], name='Name')
print(snames)

001    Pat
002    Ana
Name: Name, dtype: object

Outer merge is similar to a UNION </br>
Innter merge is produces and INTERSECTION </br>
Merge is more flexible than join </br>

In [38]:
pd.merge(hw,snames,how='outer', left_index=True, right_index=True)

     hw1  hw2 Name
001   89   92  Pat
002   74   90  Ana
003   68   78  NaN
004   94   97  NaN

In [39]:
hw.join(snames)

     hw1  hw2 Name
001   89   92  Pat
002   74   90  Ana
003   68   78  NaN
004   94   97  NaN

In [40]:
pd.merge(hw,snames, left_index=True, right_index=True)

     hw1  hw2 Name
001   89   92  Pat
002   74   90  Ana