## Pandas Dataframes

In [3]:
import pandas as pd

In [7]:
hw = pd.DataFrame({'hw1': [89,74,68,94],
                   'hw2':[92,90,78,97]},
                    index=['001', '002', '003', '004'])
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

In [8]:
hw.values

array([[89, 92],
       [74, 90],
       [68, 78],
       [94, 97]], dtype=int64)

In [9]:
hw.index

Index(['001', '002', '003', '004'], dtype='object')

In [10]:
hw.columns

Index(['hw1', 'hw2'], dtype='object')

## Creating DataFrames

In [13]:
hw = pd.DataFrame({'hw1': [89,74,68,94],
                   'hw2':[92,90,78,97]})
print(hw)

   hw1  hw2
0   89   92
1   74   90
2   68   78
3   94   97

Add a new column

In [14]:
hw['hw3'] = [86,77,80,86]
print(hw)

   hw1  hw2  hw3
0   89   92   86
1   74   90   77
2   68   78   80
3   94   97   86

In [15]:
hw['hw3'] = pd.Series([86,77,80,86], index=hw.index) # use this to force the index incase the indices of the new col don't match the current index.

## Dataframe indexing with .iloc
For either index we can use:
- an int (implicit index value)
- a list of array of ints
- a slice with ints
- a bool mask

In [17]:
hw = pd.DataFrame({'hw1': [89,74,68,94],
                   'hw2':[92,90,78,97]},
                    index=['001', '002', '003', '004'])
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

In [18]:
hw.iloc[0,1] # returns row 0 col 1

92

In [21]:
hw.iloc[1:2,1] # returns rows 1-2(exclusive) of col 1

002    90
Name: hw2, dtype: int64

In [22]:
hw.iloc[:,::-1] # returns all rows with cols reversed

     hw2  hw1
001   92   89
002   90   74
003   78   68
004   97   94

In [23]:
hw.iloc[[0,2], :] # using fancy indexing returns rows 0 and row 2 with all cols

     hw1  hw2
001   89   92
003   68   78

## Microquiz
2 ways to show the middle two rows of hw

In [28]:
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

     hw1  hw2
002   74   90
003   68   78

In [30]:
hw.iloc[[1,2],:]

     hw1  hw2
002   74   90
003   68   78

In [27]:
hw.iloc[1:3,:]

     hw1  hw2
002   74   90
003   68   78

In [31]:
hw.iloc[1:3]

     hw1  hw2
002   74   90
003   68   78

## Dataframe indexing with .loc

In [33]:
print(hw)

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97

In [34]:
hw.loc['001', 'hw2'] # using labels

92

In [35]:
hw.loc['001',:] # all cols for label 001

hw1    89
hw2    92
Name: 001, dtype: int64

In [36]:
hw.loc['001':'002', 'hw1'] # starts at label 001 and ends at label 002 (inclusive) with col hw1

001    89
002    74
Name: hw1, dtype: int64

## Microquiz
Select middle rows with loc

In [40]:
print(hw)
print("Short slicing:\n",hw.loc['002':'003'])
print("Slicing:\n", hw.loc['002':'003', :])
print("Fancy indexing:\n", hw.loc[['002','003'],:])

     hw1  hw2
001   89   92
002   74   90
003   68   78
004   94   97
Short slicing:
      hw1  hw2
002   74   90
003   68   78
Slicing:
      hw1  hw2
002   74   90
003   68   78
Fancy indexing:
      hw1  hw2
002   74   90
003   68   78

## Dataframe Indexing Dictionary Style